body{
  padding-top: 50px;
}
.text-center{
  text-align: center;

}
.row-centered {text-align:center;}
.col-centered { display:inline-block; float:none; margin-right:-4px;}
#navbar{
  /*background-color: #FFF0000; */
  background-color: #800000
}
#text{
  background-color: #000000;
  color: #FFFFFF;

}
#background-image{
  position: relative;
  padding:0;
  margin: 0;
  overflow: hidden;
  height: 600px;
  background-image: url(../images/578486-PLVR2Q-617.jpg);
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-attachment: fixed;

}
#image-1{
  position: absolute;
  width: 100%;
  height: 350px;
  background-image: url(../images/pants1.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 200px;
  top: -100px;
  left:-25px;
}
#image-2{
  position: absolute;
  width: 100%;
  height: 300px;
  margin-left:-100px;
  background-image: url(../images/pants2.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  top: 8%;
  left: 0px;
  }
  #images{
    width: auto;
    height: 200px;

  }
  #footer{
    margin-top: 50px;
    background-color: #800000;
    color: #FFFFFF;
  }
  #quantity{
    margin-left: auto;
  }
  #quantity-label{
  margin-left: -auto;
  }
  img.details{
    width: auto;
    margin: 15px auto;
    height: 200ps;

  }
